@charset "utf-8";
/*------ CSS Document ------ */

/*------ Base Layout Styles ------*/

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana;
	position: relative;
	min-height: 100%;
	width: 100%;
}

.HeaderAndContent-wrap {
	min-height: calc(100vh - 103px);
}

/*------ Main Header ------*/

.MainHeader-wrap {
	
}

.MainHeader {
	background: Navy;
	color: white;
/*	text-align: center;*/
}

.MainHeader-nav {
	list-style: none;
	width: 100%;
/*	text-align: center;*/
	padding: 0;
	margin: 0 auto;
	display: inline-flex;
}

.MainHeader-wrap ul {
	margin: auto;
}

.Logo-header-wrap {
	
}

.Logo-header {
	float: left;
}

.NavElements-wrap {
	display: none;
	float: right;
/*
	position: relative;
	height: 50px;
	position: absolute;
	top: 60%;
	transform: translate(-25%, 60%);	
	margin-left: 90px;
*/
}

.NavElements-wrap a {
	color: white;
	text-decoration: none;
}

.NavElements-wrap li {
	display: inline-block;
}

.MainHeader-menu {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.MainHeader-menu li {
	display: block;
	margin: auto 0;
	position: relative;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
		
/*	padding: 0;*/
}

.MainHeader-menu img {
	box-shadow: 4px 4px 1px black;
}

/*------ Section ------*/

.Sections-wrap {
	margin: 2px 0;
}

.SectionOne-wrap {
	margin: 0 auto;
}

.SectionOne {
	margin: 0 auto;;
}

.SectionOne h2 {
	margin-left: 20px;
}

.SectionOneItems-wrap {
	margin: 0;
}

.SectionOne-wrap figure img {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;	
}

/*------ Main Footer ------*/

.MainFooter-wrap {
	position: relative;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.MainFooter {
	background: Navy;
	color: white;
}

.MainFooterItems-wrap {
	text-align: center;
}

.MainFooterItems-wrap a {
	text-decoration: none;
	color: white;
}



/*------ Clear Fix ------*/

.ClearFix::after {
  content: "";
  clear: both;
  display: table;
}

/*------ Test Border Elements ------*/

.TestBorder-div-HandCwrap {
	border: navy 1px dashed;
	margin: 3px;
}

.TestBorder-ul li {
	border: red 1px dotted;
	margin: 3px;
}

.TestBorder-ul {
	border: green 1px solid;
	margin: 3px;
}

.TestBorder-div {
	border: blue 1px solid;
/*	margin: 3px;*/
}

.TestBorder-span {
	border: yellow 1px solid;
/*	margin: 3px;*/
}

.TestBorder-section {
	border: red 1px solid;
	margin: 3px;
}

.TestBorder-footer {
	border: red 1px solid;
	margin: 3px;
}

.TestBorder-img {
	border: red 1px ridge;
	margin: 3px;
}

/*------ Media Queries ------*/

@media(min-width: 796px) {
	
	
	
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .NavElements {
		float: right;
	}
	
	.NavElements-wrap {
		float: right;
		display: inline-block;
		position: relative;
		height: 50px;
/*		position: absolute;*/
		top: 60%;
		transform: translate(-25%, 60%);	
		margin-left: 90px;
	}

	.NavElements-wrap a {
		color: white;
		text-decoration: none;
	}

	.NavElements-wrap li {
		display: inline-block;	
	}
	
	.MainHeader-nav {
/*		width: 90%;*/
	}
	
	.MainHeader-menu {
		display: none;
	}
	
	.SectionOne-wrap {
		width: 90%;
		max-width: 1550px;
	}
	
	.SectionOne-wrap figure img {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;	
	}
	
	.MainHeader-nav a:hover, 
	.MainFooterItems-wrap a:hover {
		color: orange;
	}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/*TODO: - Maybe take the 'and' out and just use the 1025px so high resolution phones can use the mobile version*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  .NavElements {
		float: right;
	}
	
	.NavElements-wrap {
		float: right;
		display: inline-block;
		position: relative;
		height: 50px;
/*		position: absolute;*/
		top: 60%;
		transform: translate(-25%, 60%);	
		margin-left: 90px;
	}

	.NavElements-wrap a {
		color: white;
		text-decoration: none;
	}

	.NavElements-wrap li {
		display: inline-block;	
	}
	
	.MainHeader-nav {
/*		width: 90%;*/
	}
	
	.MainHeader-menu {
		display: none;
	}
	
	.SectionOne-wrap {
		width: 90%;
		max-width: 1550px;
	}
	
	.SectionOne-wrap figure img {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;	
	}
	
	.MainHeader-nav a:hover, 
	.MainFooterItems-wrap a:hover {
		color: orange;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
